<!DOCTYPE html>
<html>

<head>
   {{>header}}
</head>

{{>userheaders}}



<body>


    <!-- NAVIGATION -->

    <!-- /NAVIGATION -->

    <!-- BREADCRUMB -->

    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md col-md">
                    <h1>Order Success</h1>

                </div>
                
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- Section -->

    <!-- /Section -->

    <!-- NEWSLETTER -->
    
    <!-- /NEWSLETTER -->

    <!-- FOOTER -->
   
    {{>userfooter}}
    <!-- /FOOTER -->

    <!-- jQuery Plugins -->


    <script src="/user/javascripts/jquery.min.js"></script>
    <script src="/user/javascripts/bootstrap.min.js"></script>
    <script src="/user/javascripts/slick.min.js"></script>
    <script src="/user/javascripts/nouislider.min.js"></script>
    <script src="/user/javascripts/jquery.zoom.min.js"></script>
    <script src="/user/javascripts/main.js"></script>

</body>

</html>