{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="/stylesheets/slick.css"/>
		<link type="text/css" rel="stylesheet" href="/stylesheets/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="/stylesheets/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
   {{>userheaders}}
    {{{body}}}


{{!-- 
    <!-- jQuery Plugins -->
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/slick.min.js"></script>
		<script src="/javascripts/nouislider.min.js"></script>
		<script src="/javascripts/jquery.zoom.min.js"></script>
		<script src="/javascripts/main.js"></script> --}}

  </body>
</html> --}}
